@use "./breakpoints.scss";

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic Pro-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic Pro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic Pro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia\ Pro\ Regular\ Az.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/Sofia\ Pro\ Semi\ Bold\ Az.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --font-avantGarde: "AvantGarde", sans-serif;
  --font-sofia: "Sofia", sans-serif;
}

html {
  font-size: 62.5%; /* 10px */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  font-family: var(--font-sofia);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: var(--font-avantGarde);
}

h1,
.h1 {
  font-size: 3.2rem;
}

h2,
.h2 {
  font-size: 2.8rem;
}

h3,
.h3 {
  font-size: 2.4rem;
}

h4,
.h4 {
  font-size: 2.2rem;
}

h5,
.h5 {
  font-size: 2rem;
}

h6,
.h6 {
  font-size: 1.8rem;
}

p {
  font-size: 2rem;
  font-family: var(--font-sofia);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--font-sofia);
}
